In [116]:
import pandas as pd
import numpy as np
pd.options.display.max_rows = 6

In [2]:
data = pd.read_csv('Absenteeism-data.csv')
raw_data = data.copy()

In [3]:
print(data.keys())
data.head()

Index(['ID', 'Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average', 'Body Mass Index',
       'Education', 'Children', 'Pets', 'Absenteeism Time in Hours'],
      dtype='object')

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [4]:
data = data.drop(['ID'],axis=1)

In [5]:
print('num. of unique values = ',len(data['Reason for Absence'].unique()))

num. of unique values =  28

In [6]:
reasons_columns = pd.get_dummies(data['Reason for Absence'],drop_first=True)

In [7]:
reasons_columns

,1,2,3,4,5,6,7,8,9,10,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [8]:
data = data.drop(['Reason for Absence'],axis=1)

In [9]:
reasons_columns.loc[:,'1':'14']

     1   2   3   4   5   6   7   8   9   10  11  12  13  14
0     0   0   0   0   0   0   0   0   0   0   0   0   0   0
1     0   0   0   0   0   0   0   0   0   0   0   0   0   0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
698   0   0   0   0   0   0   0   0   0   0   0   0   0   0
699   0   0   0   0   0   0   0   0   0   0   0   0   0   0

[700 rows x 14 columns]

In [10]:
reason_type1 = reasons_columns.loc[:,1:14].max(axis=1)
reason_type1.columns=['type1']
reason_type2 = reasons_columns.loc[:,15:17].max(axis=1)
reason_type3 = reasons_columns.loc[:,18:21].max(axis=1)
reason_type4 = reasons_columns.loc[:,22:].max(axis=1)

In [11]:
data = pd.concat([data,reason_type1,reason_type2,reason_type3,reason_type4],axis=1)

In [12]:
data.columns = ['Date','Transportation Expense','Distance to Work',
                'Age','Daily Work Load Average','Body Mass Index',
                'Education','Children','Pets','Absenteeism Time in Hours',
                'reason_1','reason_2','reason_3','reason_4']

data = data[[ 'reason_1', 'reason_2', 'reason_3',
       'reason_4','Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education', 'Children',
       'Pets', 'Absenteeism Time in Hours']]

In [13]:
data

,reason_1,reason_2,reason_3,reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,0,0,0,1,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,0,0,0,1,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [14]:
np.sort(data['Age'].unique())

array([27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 46, 47,
       48, 49, 50, 58], dtype=int64)

In [114]:
#checkpoint
data_reason_modified = data.copy()

In [142]:
#data = data_reason_modified.copy()

In [143]:
data['Date'] = pd.to_datetime(data['Date'],format = '%d/%m/%Y')

In [144]:
#saving the month & day in the week value in seperate column
data['month'] = data.apply(lambda row: row['Date'].month, axis=1)
data['day_of_the_week'] = data.apply(lambda row: row['Date'].weekday() ,axis=1)

In [145]:
data.loc[:,['Date','month','day_of_the_week']]

          Date  month  day_of_the_week
0   2015-07-07      7                1
1   2015-07-14      7                1
2   2015-07-15      7                2
..         ...    ...              ...
697 2018-05-24      5                3
698 2018-05-24      5                3
699 2018-05-31      5                3

[700 rows x 3 columns]

In [146]:
data = data.drop(['Date'],axis=1)

In [147]:
data = data[['reason_1', 'reason_2', 'reason_3', 'reason_4', 'month', 'day_of_the_week',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education', 'Children',
       'Pets', 'Absenteeism Time in Hours']]

In [127]:
#checkpoint
data_date_mod = data.copy()
#data = data_date_mod.copy()

In [148]:
data['Education'] = data['Education'].map({1:0,2:1,3:1,4:1})

In [150]:
data['Education'].value_counts()

0    583
1    117
Name: Education, dtype: int64

In [151]:
data

,reason_1,reason_2,reason_3,reason_4,month,day_of_the_week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697,1,0,0,0,5,3,330,16,28,237.656,25,1,0,0,8
698,0,0,0,1,5,3,235,16,32,237.656,25,1,0,0,2
699,0,0,0,1,5,3,291,31,40,237.656,25,0,1,1,2

In [155]:
data.to_csv('./Absenteeism_data_preprocessed.csv')